.Offline {
    width: 100%;
    height: 100vh;

    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background: linear-gradient(50deg, rgb(8, 8, 8), rgb(11, 19, 59));

    font-size: 16px;
}

.Offline__sign {
    position: absolute;
}

.Offline__alert {
    z-index: 1010;

    position: absolute;

    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;

    transform: rotate(-2deg);

    width: 17em;
}

.Offline__alert--span {
    font-size: 1.2em;
}

.Offline__btnRetry {
    z-index: 1010;

    position: absolute;
    top: 65vh;

    border: 10px double rgb(0, 255, 255);
    background-color: rgb(101, 223, 223);

    border-radius: 50%;
    width: 5em;
    height: 4.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-shadow: 2px 2px 0px black;

    transform: rotate(-2deg);
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
    .Offline__sign {
        width: clamp(18em, 90vw, 20em);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Offline__sign {
        width: 20em;
    }
}

@media (min-width: 1024px) {
    .Offline__sign {
        width: 20em;
    }
}